@underline_color: rgb(93, 62, 35);
@bg_color: rgb(224, 217, 203);
@bg_color_content: rgb(231, 226, 216);
@nav_color: rgb(60, 64, 71);
@primary_color: rgb(36, 32, 23);
@secondary_color: rgb(214, 46, 65);

@font-face {
  font-family: "FjallaOne";
  src: url("FjallaOne-Regular.ttf") format("truetype"),
}

body {
  background-color: @bg_color;
  margin: 0;
  padding: 0;
  color: @primary_color;
  scroll-behavior: smooth;
  position: relative;
  font-family: 'FjallaOne', Arial, sans-serif;
}

.main {
  .phone-top-bar {
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: @nav_color;

    .menu-button {
      position: absolute;
      left: 15px;
      display: inline-block;
      cursor: pointer;
      img {
        height: 30px;
        display: flex;
        align-items: center;
      }
    }

    .logo {
      font-size: 32px;
    }
  }
  nav {
    ul {
      height: calc(100vh - 90px);
      height: calc(100dvh - 90px);
      position: absolute;
      width: 100vw;

      background-color: @nav_color;
      margin: 0;
      padding: 0;
      padding-top: 30px;

      font-size: 20px;

      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 25px;

      list-style-type: none;

      li a, li div {
        text-decoration: none;
        color: white;
        cursor: pointer;
      }
    }
  }

  nav ul {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 300ms, transform 300ms;
  }

  nav.show ul {
    opacity: 1;
    
    transform: translateX(0);
  }

  a {
    text-decoration: none;
    color: @primary_color;
  }

  .modal-background {
    display: none;
    
    &::before {
      content: "";
      position: fixed;
      width: 100vw;
      height: calc(100vh - 60px);
      height: calc(100dvh - 60px);

      background: rgba(16, 21, 23, 0.8);
      backdrop-filter: blur(1rem);
    }
  }

  .modal-background.show {
    display: block;
  }

  .modal-container {
    background-color: @bg_color;
    width: 90vw;
    height: 82%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    position: fixed;
    border-radius: 10px;
    overflow: auto;

    .modal-stuff {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;

      color: black;
      font-size: 20px;

      margin: 20px 10px;
  
      .cross {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
  
        img {
          height: 15px;
          width: 15px;
        }
      }
  
      .title {
        font-size: 24px;
      }

      .photos {
        text-align: center;
      }
    }
  }

  .bg-img1 {
    height: 500px;
    background-image: url('images/bg-img.jpg');
    background-size: cover;
    background-position: center;

    margin-bottom: 80px;
  }

  .bg-img2 {
    height: 500px;
    background-image: url('images/bg-img2.jpg');
    background-size: cover;
    background-position: center;
  }

  .bg-img-text {
    width: 95%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    color: white;
    text-shadow: 0.1em 0.1em 0.2em black;      
    font-size: 30px;

    a {
      color: white;
    }

    div {
      margin-bottom: 7px;
    }
  }

  .elements {
    display: flex;
    flex-direction: column;
    gap: 90px;
    padding-bottom: 80px;

    .delimiter {
      height: 2px;
      width: 70vw;
      background-color: black;
      margin: 0 auto;
    }

    .element {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 60px;
      margin: 0 30px;

      .title {
        color: @secondary_color;
        font-size: 26px;
      }

      .sub-title {
        border: 2px solid @underline_color;
        padding: 5px;
        font-size: 23px;
      }
      
      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        width: 80%;

        text-align: center;
        font-size: 20px;

        background-color: @bg_color_content;
        border-radius: 14px;
        box-shadow: rgba(164, 166, 170, 0.2) 0px 8px 24px;
        padding: 22px;

        .sub-content-tarifs {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }

        .content-title {
          border-bottom: 2px solid @underline_color;
          width: fit-content;
          margin: 0 auto;

          &.table {
            margin-bottom: 17px;
          }

          img {
            height: 30px;
          }

          &.img {
            border: none;
          }
        }
        .sub-content {
          margin-bottom: 20px;
        }

        &.tables {
          gap: 30px;

          table {
            border-collapse: collapse;
  
            td {
              border: 1px solid @underline_color;
              padding: 10px;
            }
            td:first-child {
              text-align: left;
            }
    
            // Make borders only on the inside
            tr:first-child td {
              border-top: 0;
            }
            tr td:first-child {
              border-left: 0;
            }
            tr:last-child td {
              border-bottom: 0;
            }
            tr td:last-child {
              border-right: 0;
            }
          }
        }
      }

      .content-subtitle {
        &.table {
          color: rgb(46, 130, 155);
          font-size: 20px;
          text-align: center;
        }
      }

      .content-subtitle2 {
        &.table {
          font-size: 18px;
          text-align: center;
        }
      }
    }
  }

  @media only screen and (min-width: 992px) {

    .bg-img1 {
      height: 650px;
    }

    .bg-img-text {
      font-size: 45px;
    }

    .phone-top-bar {
      display: none;
    }

    #nav {
      display: none;
    }

    nav {
      ul {
        height: 60px;
        position: static;
  
        flex-direction: row;
        justify-content: center;
        gap: 20px;
  
        padding-top: 0;
        opacity: 1;
        transform: none;
        font-size: 20px;
      }
    }

    .modal-container {
      width: 80vw;
      height: 75%;
    }

    .elements {
      gap: 100px;
  
      .element {
        gap: 50px;
  
        .title {
          font-size: 30px;
        }
  
        .content {
          font-size: 20px;
          width: fit-content;
          padding: 30px;

          &.tarifs {
            flex-direction: row;
            justify-content: center;
            gap: 100px;
          }

          &.tables {
            flex-direction: row;
            align-items: flex-start;
            td {
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}